/*
=============== 
Variables
===============
*/

:root {
  --color-primary: #645cff;
  --color-primary-dark: #282566;
  --color-primary-light: #a29dff;
  --color-grey-1: #102a42;
  --color-grey-5: #617d98;
  --color-grey-10: #f1f5f8;
  --color-white: #fff;
  --color-red-dark: hsl(360, 67%, 44%);
  --color-red-light: hsl(360, 71%, 66%);
  --transition: all 0.3s linear;
  --spacing: 0.25rem;
  --radius: 0.25rem;
  --large-screen-width: 1170px;
  --small-screen-width: 90vw;
  --fixed-width: 50rem;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: var(--color-grey-10);
  color: var(--color-grey-1);
  line-height: 1.5;
  font-size: 0.875rem;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

section.places {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 30px;
}

.places, .tabs {
  width: 1170px;
  margin: 0 auto;
}

.tab {
  display: flex;
}

.tab .btn-container {
  display: flex;
  flex-direction: column;
  /* align-items: baseline; */
  /* justify-content: baseline; */
  max-width: unset;
  /* padding: 0; */
  justify-content: flex-start;
  /* justify-content: space-around; */
  min-width: 250px;
}

.tab .btn-container button {
  margin-bottom: 20px;
}

.place-item {
  width: 500px;
  overflow: hidden;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  position: relative;
  background-color: var(--color-grey-10);
}

.place-item img:hover {
  transform: scale(1.1);
  transition: transform 1s;
  height: 400px;
}

img {
  width: 500px;
  height: 400px;
  width: 100%;
  display: block;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  z-index: 0;
  position: relative;
  object-fit: cover;
}

a {
  text-decoration: none;
}

h1, h2, h3, h4 {
  letter-spacing: var(--spacing);
  text-transform: capitalize;
  line-height: 1.25;
  margin-bottom: 0.75rem;
}

h1 {
  font-size: 3rem;
}

h2 {
  font-size: 2rem;
}

h3 {
  font-size: 1.5rem;
}

h4 {
  font-size: 0.875rem;
  margin: 0;
}

.read-btn {
  border: none;
  font-size: 0.875rem;
  line-height: 1.25;
  padding: 10px 30px;
  color: var(--color-primary);
  font-weight: bold;
  cursor: pointer;
  background-color: transparent;
}

.read-btn:hover {
  opacity: 0.7;
  transition: opacity 0.7s ease;
}

p {
  margin-bottom: 1.25rem;
}

.btn {
  text-transform: uppercase;
  background-color: rgb(228, 193, 128);
  color: var(--color-white);
  padding: 0.375rem 0.75rem;
  letter-spacing: var(--spacing);
  display: inline-block;
  font-weight: 700;
  transition: var(--transition);
  font-size: 0.875rem;
  border: none;
  cursor: pointer;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
  margin: 0 20px;
  border-radius: 5px;
}

.btn:hover {
  color: var(--color-primary);
  transition: color 0.7s ease;
}

.btn--country, .btn--tab {
  background: var(--color-primary);
  background: var(--color-primary-light);
}

.btn--tab {
  background-color: #fff;
  border: 2px solid var(--color-primary);
  color: var(--color-primary);
}

.btn--tab.active-btn {
  background-color: var(--color-primary);
  color: #fff;
}

.btn--country:hover,
.btn--tab:hover {
  opacity: 0.7;
  transition: opacity 0.7s ease;
}

.title h2 {
  text-align: center;
}

.country-info h3 {
  text-transform: none;
}

.underline {
  background-color: rgb(206, 153, 56);
  height: 5px;
  width: 50px;
  text-align: center;
  margin: 0 auto;
  border-radius: 10px;
}

.countries {
  text-align: center;
}

.place-info {
  background-color: var(--color-grey-10);
  padding: 30px 0;
  position: relative;
  z-index: 1;
}

.countries {
  padding: 30px 0;
}

.btn-container  {
  display: flex;
  /* align-items: center; */
  justify-content: center;
  /* justify-content: space-around; */
  max-width: 1170px;
  margin: 0 auto;
  padding: 30px 0;
}